setuptools==56.2.0
rapidfuzz==0.9.1
nltk==3.6.6
SPARQLWrapper==1.8.2
html2text==2018.1.9
TexSoup==0.1.4
beautifulsoup4==4.7.1
Django==2.2.27
html2text==2018.1.9
idna==2.8
pytz==2018.7
jquery_unparam==2.0.0
PyGithub==1.43.7
wikipedia==1.4.0
flask
attrs==21.4.0
certifi==2021.10.8
requests==2.27.1
regex==2022.4.24
urllib3==1.26.9
wrapt==1.14.0
PyJWT==2.3.0
